<!DOCTYPE html>
<html lang="en">

<head>
	<title>Blog Site</title>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Blog Site ">
	<link rel="shortcut icon" href="images/logo.png">

	<!-- FontAwesome CSS-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="css/style.css">

</head>
<style>
	.container p {
		font-family: Zen Antique;
	}

	.container h5 {
		border-top: 2px rgb(18, 18, 18) dotted;
		border-bottom: 2px rgb(18, 18, 18) dotted;
		padding: 15px;
	}
</style>

<body>

	<header class="header text-center">
		<a class="site-title pt-lg-4 mb-0" href="index.html">JiangWei</a>

		<nav class="navbar navbar-expand-lg navbar-dark">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
				aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column">
				<img class="mb-3 mx-auto logo" src="images/logo.png" alt="logo">

				<ul class="navbar-nav flex-column text-sm-center text-md-left">
					<li class="nav-item">
						<a class="nav-link" href="index.html"><i class="fas fa-home fa-fw mr-2"></i>Blog Home <span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="post.html"><i class="fas fa-file-alt fa-fw mr-2"></i>Blog Post</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="page.html"><i class="fas fa-file-image fa-fw mr-2"></i>Blog Page</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="archive.html"><i class="fas fa-archive fa-fw mr-2"></i>Blog
							Archive</a>
					</li>

				</ul>
				<hr>
				<ul class="social-list list-inline py-3 mx-auto">
					<li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li>
				</ul>

			</div>
		</nav>
	</header>

	<div class="main-wrapper">
		<header class="page-title theme-bg-light text-center gradient py-5">
			<h1 class="heading">About Me</h1>
		</header>
		<!-- <section class="theme-bg-dark py-5 text-center text-light">
			    <form class="signup-form form-inline justify-content-center pt-3">
                    <div class="form-group">
                        <label class="sr-only" for="semail">Your email</label>
                        <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
	    </section> -->
		<article class="about-section content px-3 py-5 p-md-5">
			<div class="container">
				<p>こんにちは、姜維と申します。現在2５歳で、東京都葛飾区新小岩に住んでおります。私は中国でのIT業界でインターンシップとしての実務経験があります。
					IT業界においては経験が浅いですが、ITの仕事を離れても、IT技術への愛着は変わらず、自ら進んで学ぶ姿勢を持っています。 </p>
				<!-- <figure><img class="img-fluid" src="images/about-me.jpg" alt="image"></figure> -->
				<h5 class="mt-5">経歴とスキル</h5>
				<p>大学の時インターンシップエンジンニアとして半年くらい働いていました。
					インターンシップの時の仕事は、お客さんからの要求を聞いて、それを従ってERPシステムを開発します。それとシステムのメンテナンス
					とバッグの修正も任されています。
					卒業後、メデイア関係の仕事て働いていた時は、政府や企業向けのプロモーション動画を作っています。


				</p>
				<p>プログラミング言語:java、python、c++、html、javascript</p>

				<p>フレームワーク:Spring、Spring boot、Mybatis</p>
				<p>データベース:Mysql、Oracle</p>
				<p>編集ソフト:AdobePremier、 FinalCutPro、After Effects</p>
				<h5 class="mt-5">強みと成果 </h5>
				<p>私の強みは、問題解決への情熱と、常に新しい技術を学び続ける姿勢にあります。これまでのキャリアでは、様々なシステムの問題を解決し、チームに大きく貢献してきました。</p>
				<p>私は学習を厭わず、常に自ら進んで学ぶ姿勢を持っています。このwebサイトも、自分がゼロから始め、一人で作りました。
				</p>
				<h5 class="mt-5">目標とビジョン </h5>
				<p>今後も、ITエンジニアとしてのスキルをさらに磨き、より多くのプロジェクトでリーダーシップを発揮していきたいと考えています。また、チームや会社全体の成長に寄与することで、より良い未来を創造する一助となりたいと思っています。

				</p>

			</div>
		</article>



		<footer class="footer text-center py-2 theme-bg-dark">

			<p class="copyright"><a href="https://github.com/Ion2183">FollowAndrew</a></p>

		</footer>

	</div><!--//main-wrapper-->


	<!-- Bootstrap Javascript -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="js/main.js"></script>

</body>

</html>